*, body{
	padding:0px;
	margin:0px;
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 14pt;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	line-height: 2em;
}
p{
	color:#555f66;
}

body, .main-content{
	font-weight: 300;
	overflow: hidden;
}

header nav h1 a{
	color:#666F77;
	border:none;
	text-decoration:none;
}

header nav h1, header nav .nav-list{
     display: table-cell;
    vertical-align: middle;
    padding:0px 15px;
}

header nav h1.logo{
	display: table-cell;
    color:black;
    font-size: 1.5em;
    font-weight: 900;
}

header nav ul{
	text-align: right;
}

header nav ul li{
	display:inline-block;
	margin-left:2em;
}

header nav li a{
	text-decoration: none;
	color:#838383;
	padding:1em 0.5em;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;

}
header nav li a.active{
	background-color: #629DD1;
	color:white;
	-webkit-box-shadow: inset 0px -4px 21px -2px rgba(0,0,0,0.21);
	-moz-box-shadow: inset 0px -4px 21px -2px rgba(0,0,0,0.21);
	box-shadow: inset 0px -4px 21px -2px rgba(0,0,0,0.21);
}

header nav{ 
	position:static;
	z-index: 99;
	border-bottom: 1px solid #ddd;
	display: table;
	width: 100%;
	background: white;
	height: 3em;
	transition: transform 200ms linear;
}
.scrolling{
	transform: translateY(-100%);
}
.fixed{
	position: fixed;
	transform: translateY(0%);
}
header, .features, .thumbnails{
	position:relative;
}

#header:after {
	content: '';
	position: absolute;
	display: block;
	background: url(../images/skew-full-bottom-ccw.png) bottom;
	background-size: 100% 100%;
	height: 120px;
	bottom: 0px;
	width: 100%;
}

.features::after{
  	display: block;
}
.thumbnails:before {
  content: '';
  position: absolute;
  background: url(../images/skew-full-top-ccw.png) bottom;
  background-size: 100% 100%;
  height: 120px;
  top: 0;
  width: 100%;
  display: block;
}

.btn-primary{
	background:#629DD1;
	padding:8px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn-default{
	background:transparent;
	border:1px solid #ddd;
	padding:8px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-tblack{
	color:black;
}

.btn-twhite{
	color:white;
}

.header-bg{
	background: url(../images/banner.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding:14em;
	text-align: center;
	line-height: 2.5;
}
h1, h2, h3, h4{
	  font-weight:300;
	  color:#666f77;
}
.header-bg h1{
	font-size: 3.5em;
	color:white;
}
.header-bg p{
	color:#ddd;
	font-size:1.6em;
	padding-bottom: 50px;
}

.btn-lg{
	padding:10px 60px;
	margin:10px;
	font-size: 1.5em;
}
.container{
	margin:0 auto;
	max-width:1400px;
}
.row{
	margin-left:-4em;
	margin-right:-4em;
}
.col-4,.col-6,.col-8,.col-3{
	display:inline-block;
	margin-left:-5px;
	vertical-align:top;
	padding-left:4em;
}
.col-4{
	width:33.3333%;
}
.col-3{
	width:25%;
}
.col-8{
	width:66.6666%;
}
.col-6{
	width:50%;
}
.section{
	 padding-top:6em;
	 padding-bottom: 6em;
}
.row h2{
	font-size: 2em;
	margin-bottom: 0.3em;
}
.row h3.grey{
	color:grey;
	font-size: 1.5em;
	margin-bottom: 1.5em;
}
.row h3{
	font-size: 1.5em;
}
.row.heading{
	text-align: center;
}
.features .row .col-4 .wrapper{
	text-align: center;
	border:1px solid #ddd;
	border-radius: 5px;
	padding:3em 2em;
	color:rgb(85, 95, 102);
}
.features .row .col-4 .icon{
	display:inline-block;
	width:3em;
	height: 3em;
	font-size: 2em;
	line-height: 3em;
	text-align: center;
	border-radius: 100%;

	box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
	color: white;
	background: #629DD1;
	margin-top:20px;
	margin-bottom: 1.5em;


}
.features .row .col-4 h3{
	font-size: 1.3em;
	margin-bottom: 20px;

}
.thumbnails{
	background: #192024;
	text-align: center;
}

.thumbnails p{
	color: #bbb;
}
.thumbnails .heading h2{
	color:#ffffff;
}
.thumbnails .heading h3{
	color:#a3a5a7;
}
.thumbnails .row .col-6 h3{
	color:white;
	margin-bottom: 1em;
}
.row img.image-responsive{
	display:block;
	width:100%;
	margin-bottom: 1em;
	border-radius: 6px;
}
.thumbnails .row .col-6 p,.article .row p{
	margin-bottom: 2em;
}
.article .row h2{
	font-size: 1.5em;
	margin-bottom: 1em;
	letter-spacing: 0.125em;
}
.article .row h3{
	font-size: 1.25em;
	margin-bottom: 1em;
	letter-spacing: 0.125em;
}
.article .row hr{
  	margin:3em 0;
}
.article ul li{
	text-decoration: none;
	list-style: none;
	border-bottom: 1px solid #ddd;
	padding:0.5em 0;
	color:#629DD1;
}
.article ul li a:visited , .article ul li a:hover{
	color:#629DD1;
}
footer{
	background: #f8f8f8;
}
footer .container{
	padding-top:2em;
	padding-bottom: 3em;
}
footer h3{
  	margin-bottom: 0.5em;
}
footer ul li{
	text-decoration: none;
	list-style-type: none;	

	padding:0.5em 0;
	color:#629DD1;
}
footer .border li{
	border-bottom: 1px solid #ddd;
}
footer ul.copyright{
	margin-top: 2em;
	text-align: center;
}
footer ul.copyright li{
	display:inline-block;
	margin-left:3em;
	border-left:solid 1px rgba(144, 144, 144, 0.25);
	margin-left: 1.5em;
  	padding-left: 1.5em;
}
footer ul.copyright li:first-child{
	border:none;
}
footer ul.copyright li a{
	text-decoration: none;
}
footer ul.copyright li a:visited, footer ul.copyright li a:hover, footer ul.copyright li a
footer ul.social li a:visited, footer ul.social li a:hover, footer ul.social li a
{
	color:#bbb;
}
footer ul li a:visited, footer ul li a:hover, footer ul li a
{
	color:grey;
}
footer .social li{
	display:inline-block;
}
footer .social li a{
	font-size: 1.5em;
	margin-right:0.5em;
}
